<div class="productsContainer">
    <h1>products</h1>
    <h3>qui potrai vedere la lista di tutti i prodotti </h3>
   

    <div class="productCard">
        <div class="productImage">
            <img src="assets/sedia2.jpg" alt="Nome Prodotto">
            <button class="addToCartButton" (click)="addToCart(productDetails)">Aggiungi al carrello</button>
        </div>
        <div class="productDetails">
            <div class="productTitle">sedia figa</div>
            <div class="productDescription">sedia artigianale.</div>
            <div class="productPrice">€99.00</div>
            <div class="productRating">
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                (Recensioni)
            </div>
        </div>
    </div>

    
</div>