body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EBE0CC;
  }
  
  .registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #5B5951;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
  }
  
  button {
    background-color: #EBE0CC;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .material-icons {
    margin-left: 5px;
  }
  