<div class="ContainerCarrello">
    <h2 *ngIf="cartItems.length === 0">Al momento non hai alcun prodotto nel carrello</h2>
    <div class="cartProducts">
      <div class="productDetails" *ngFor="let product of cartItems">
        <div class="productImage">
          <img [src]="product.img" [alt]="product.title">
        </div>
        <div class="productTitle">{{ product.nome }}</div>
        <div class="productDescription">{{ product.descrizione }}</div>
        <div class="productPrice">{{ product.prezzo | currency: 'EUR' }}</div>
      </div>
    </div>
  </div>
  