<body>  
        <div class="pubblicazione-container">
            <div class="pubblicazione-form ">
                <h1>Inserisci un prodotto artigianale</h1>
                <form class="product-form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="immagine">Immagine:</label>
                        <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput>
                    </div>
                    <div class="form-group">
                        <label for="nome">Nome del prodotto:</label>
                        <input type="text" id="nome" name="nome" placeholder="Inserisci il nome del prodotto artigianale"  required [(ngModel)]="nome">
                    </div>
                    <div class="form-group">
                        <label for="materiale">Materiale:</label>
                        <input type="text" id="materiale" name="materiale" placeholder="Inserisci il materiale utilizzato"  required [(ngModel)]="materiale">
                    </div>
                    <div class="form-group">
                        <label for="descrizione">Descrizione:</label>
                        <textarea id="descrizione" name="descrizione" placeholder="Inserisci una descrizione dettagliata del prodotto"  required [(ngModel)]="descrizione"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="prezzo">Prezzo:</label>
                        <input type="number" id="prezzo" name="prezzo" placeholder="Inserisci il prezzo del prodotto"  required [(ngModel)]="prezzo">
                    </div>
                    <div class="form-group">
                        <button type="submit">Inserisci</button>
                    </div>
                </form>
            </div>
            
        </div>
</body>